Package: homestead-cx-node
Source: homestead
Version: 1.0-181110.092618
Architecture: amd64
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Installed-Size: 59
Depends: homestead (= 1.0-181110.092618), homestead-cassandra
Section: network
Priority: optional
Homepage: http://projectclearwater.org/
Description: Homestead, the HSS Cache/Gateway node
